

h2 {
  margin-top: 0;
  margin-bottom: 30px;
  color: #1a1a1a;
}

.form-group {
  margin-bottom: 24px;
}




.btn-primary {
  background-color: #2e3b9e; /* Color azul de tu mockup */
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  width: 48%;
}


